@model SampleModel
@{
    ViewBag.Title = "Test Page";
}
Precompiled View Paths:
<ul>
    @foreach (var path in Model.ViewPaths)
    {
        <li>@path</li>
    }
</ul>

@Html.EditorForModel()
@Html.Partial("../Other/../Other/RelativePartial")
@Helpers.Test()

@if (!MvcApplication.IsDebug)
{
    @Html.Partial("ExternalPartial");
}

@{
    // c# 7 features


    (string title, string url) GetTitle() => ("ValueTuple", "`2");
    @GetTitle().Item1
}